textarea {
  min-width: 80vw;
  height: 80vh;
  /* min-height: 80vh; */
  /* max-height: 80vh; */
}

.tbody-heading td {
  font-weight: bold;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 0.25em;
  margin-top: 1em;
  font-size: 1.4em;
}

.checkbox {
  /* top-right-bottom-left */
  margin: 0.5em 1em 0 1em;
}

input[type="number"] {
  width: 4em;
}
.buttons {
  display: flex;
  gap: 4px;
}

.buttons button {
  flex: 1;
  box-sizing: border-box;
  min-height: 5vh;
}

#btn-new {
    width: 100%;
    height: 5vh;
}

#btn-copy {
    cursor: copy;
}

#btn-show-modal {
  /* display: block; */
  /* width: 90vw; */
  width: 100%;
  /* box-sizing: border-box; */
  /* height: 5vh; */
  text-align: center;
  /* margin-bottom: 2em; */
  font-size: 1.50em;
  font-weight: bold;
  font-family: monospace;

    position: fixed;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 60px; /* Adjust as needed */
    background-color: #2c3e50;
    color: white;
    z-index: 1000; /* High z-index to stay on top */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  /* position: fixed; */
  /* top: 0; */
  /* left: 2.5vw; */
  /* right: 2.5vw; */
  /* background-color: #f0f0f0; */
  /* /\* padding: 10px; *\/ */
  /* z-index: 100; */
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
}

main {
  /* padding-top: 5vh; */
  /* margin: 0; */
  margin-top: 60px
}

form {
  /* width: 90vw; */
  text-align: center;
  margin: auto;
}

#the-table {
  width: 100%;
}

.spacer-row {
  height: 2.0em;
}

:popover-open {
  position: absolute;
  inset: unset;
  right: 5px;
  bottom: 5px;
}


/* /\* Navigation Styles *\/ */
/* nav { */
/*     position: fixed; */
/*     top: 0; */
/*     left: 0; */
/*     right: 0; */
/*     background-color: #333; */
/*     display: flex; */
/*     justify-content: center; */
/*     padding: 10px; */
/*     z-index: 100; */
/* } */

/* nav ul { */
/*     list-style-type: none; */
/*     padding: 0; */
/*     margin: 0; */
/*     display: flex; */
/* } */

/* nav ul li { */
/*     margin: 0 15px; */
/* } */

/* nav ul li a { */
/*     color: white; */
/*     text-decoration: none; */
/*     font-size: 18px; */
/* } */

/* nav ul li a:hover { */
/*     text-decoration: underline; */
/* } */

/* /\* Hamburger Menu Button *\/ */
/* .menu-toggle { */
/*     display: none; */
/*     flex-direction: column; */
/*     justify-content: space-between; */
/*     width: 30px; */
/*     height: 21px; */
/*     cursor: pointer; */
/*     margin: 10px; */
/* } */

/* .menu-toggle .bar { */
/*     height: 4px; */
/*     background-color: white; */
/*     border-radius: 2px; */
/* } */

/* main { */
/*     /\* Prevent content from being hidden behind the fixed nav *\/ */
/*     padding-top: 60px; */
/* } */

/* /\* https://codepen.io/erikterwan/pen/EVzeRP *\/ */

/* /\* /\\* Media Query for mobile *\\/ *\/ */
/* /\* @media (max-width: 768px) { *\/ */
/* /\*     nav ul { *\/ */
/* /\*         display: none; *\/ */
/* /\*         width: 100%; *\/ */
/* /\*         flex-direction: column; *\/ */
/* /\*         align-items: center; *\/ */
/* /\*     } *\/ */

/* /\*     nav ul li { *\/ */
/* /\*         margin: 15px 0; *\/ */
/* /\*     } *\/ */

/* /\*     nav.open ul { *\/ */
/* /\*         display: flex; *\/ */
/* /\*     } *\/ */

/* /\*     /\\* Show hamburger menu button *\\/ *\/ */
/* /\*     .menu-toggle { *\/ */
/* /\*         display: flex; *\/ */
/* /\*     } *\/ */
/* /\* } *\/ */
